// Project colors
$blanco: #ffffff;
$grisClaro: #cccccc;
$grisMedio: #9e9e9e;
$gris: #808080;
$negro: #000000;
$rojo: #ff0000;
$verde: #008000;
$verdeClaro: #90ee90;
$azulClaro: #008cba;

// Fonts
$fTitulos: 'Lato', sans-serif;
$fParrafo: 'Lato', sans-serif;